{{ form_start(form) }}
{{ form_start(form.name) }}
{{ form_start(form.Surname) }}
{{ form_start(form.email) }}
{{ form_start(form.Telephone) }}
<button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
