{% extends 'base.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}
	<h1>utilisateur
		{{ user.name }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<th>Surname</th>
				<td>{{ user.Surname }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Telephone</th>
				<td>{{ user.Telephone }}</td>
			</tr>
			<tr>
				<th>Roles</th>
				<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>{{ user.password }}</td>
			</tr>
			<tr>
				<th>Created_at</th>
				<td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('admin_users_index') }}">Retour vers la liste</a>

	<a href="{{ path('admin_users_edit', {'id': user.id}) }}">Modifier</a>

	{{ include('admin/users/_delete_form.html.twig') }}
{% endblock %}
