<h1>Bravo ! Vous venez de vous inscrire comme étudiant sur le site gestionnaire d'événement</h1>

<p>Bonjour
	{{ student.firstName }},
</p>

<p>Votre inscription en ligne a été un succès
</p>

<p>
	infos
</p>

<p>
	nom :
	{{ student.firstName }}
	<br>
	prenom :
	{{ student.lastName }}
	<br>
	email :
	{{ student.email }}
	<br>
	téléphone :
	{{ student.telephone }}
	<br>
	ville :
	{{ student.city }}
	<br>
	quartier :
	{{ student.quater }}
	<br>
	année d'étude :
	{{ student.studyYear }}
	<br>
	filière :
	{{ student.sector }}
	<br>
	option :
	{{ student.StudyOption }}

</p>

<p>Cordialement la team gestion</p>
